<div data-role="page" data-theme="b" id="home">
	<div data-role="header" class="home_head">
		<h1></h1>
		<img src="" class="ui-btn-left" title="Your profile picture." />
		<div data-role="navbar" class="chatter_stats">
			<ul>
				<li><span class="comments"></span> <small>posts &amp; comments</small></li>
				<li><span class="received"></span> <small>comments received</small></li>
				<li><span class="likes"></span> <small>likes received</small></li>
			</ul>
		</div>
	</div>

	<div data-role="content">	
		<div class="content-primary">
			<ul data-role="listview" data-split-icon="gear" data-split-theme="b" class="activeAssists">
			</ul>
		</div>
	</div>
	
	<div data-role="footer" data-position="fixed" class="footer" data-theme="a"> 
		<div data-role="navbar" data-grid="a"> 
			<ul> 
				<li><a href="#" id="plus" data-icon="custom">New</a></li> 
				<li><a href="#" id="escalation" data-icon="custom">Escalation</a></li> 
				<!--<li><a href="#" id="skull" data-icon="custom">Danger</a></li> 
				<li><a href="#" id="beer" data-icon="custom">Beer</a></li> 
				<li><a href="#" id="coffee" data-icon="custom">Coffee</a></li> -->
			</ul> 
		</div> 
	</div>
</div>