<div data-role="page" id="assist">
	<div data-role="header" data-theme="a">
		{{#assist}}
		{{#attributes}}
		<h1>{{Subject__c}}</h1>
		{{/attributes}}
		
		<a data-icon="back" data-iconpos="notext" data-direction="reverse" class="ui-btn-left">Back</a>
		{{/assist}}
	</div>

	<div data-role="content">
		<div class="content-primary">
			{{#assist}}
			<ul data-role="listview">
			{{#isQueue}}
				<li data-theme="f"><a class="grab">Grab Assist</a></li>
			{{/isQueue}}
				<li data-role="list-divider">
					{{#attributes}}
					<h3>{{Name}} - {{Subject__c}}</h3>
					{{/attributes}}
				</li>
				<li class="no-whitespace fullwidth">
					<div class="ui-grid-a assistgrid">
                        {{#attributes}}
						<div class="ui-block-a"><strong>Category</strong></div>
						<div class="ui-block-b">{{Task_Category__c}}</div>
                        <div class="ui-block-a"><strong>Deal Priority</strong></div>
                        <div class="ui-block-b">{{Deal_Priority__c}}</div>
                        {{/attributes}}
                        <div class="ui-block-a"><strong>Deal Size</strong></div>
                        <div class="ui-block-b">USD {{getACVAmount}}</div>
                        {{#attributes}}
                        <div class="ui-block-a"><strong>Estimated Hours</strong></div>
						<div class="ui-block-b">{{Estimated_Effort_hours__c}}</div>
                        {{/attributes}}						
                        <div class="ui-block-a"><strong>SE Contact</strong></div>
                        <div class="ui-block-b">{{getContactName}}</div>
                        <div class="ui-block-a"><strong>SE Email</strong></div>
                        <div class="ui-block-b">{{{getContactEmail}}}</div>
                        <div class="ui-block-a"><strong>SE Phone</strong></div>
                        <div class="ui-block-b">{{getContactPhone}}</div>
                        <div class="ui-block-a"><strong>SE Mobile</strong></div>
                        <div class="ui-block-b">{{getContactMobilePhone}}</div>
						<div class="ui-block-a"><strong>Due Date</strong></div>
						<div class="ui-block-b">{{getDueDate}}</div>
					</div>
				</li>
				<li class="no-whitespace fullwidth">
					<h3>Description</h3>
					<p>{{{getFormatDescription}}}</p>
				</li>
				<li class="no-whitespace fullwidth">
					<h3>Mockup</h3>
					<p>{{{getFormatMockup}}}</p>
				</li>
				{{#hasLoginUrl}}
				<li>
					{{#attributes}}
					<a href="{{Login_URL__c}}" class="external">
						<h3>Log on to org</h3>
						<p>{{Login_URL__c}}</p>
					</a>
					{{/attributes}}
				</li>
				{{/hasLoginUrl}}
			
			{{#hasAttachments}}
				<li data-role="list-divider">
					<h3>Attachments</h3>
				</li>
				{{#getAttachments}}
				<li>
					{{#attributes}}
					<a id="{{Id}}" class="download">
						{{Name}}
					</a>
					{{/attributes}}
				</li>
				{{/getAttachments}}
			{{/hasAttachments}}
                <li data-theme="g">
                    <a href="{{getAssistUrl}}" class="external">View in 62org</a>
                </li>
			{{/assist}}
			</ul>
		</div>
	</div>
	
	<div data-role="footer" data-position="fixed" class="footer" data-theme="a"> 
		<div data-role="navbar" data-grid="c"> 
			<ul> 
				<li><a class="newButton" data-icon="custom">New</a></li> 
				<li><a class="homeButton" data-icon="custom" class="ui-btn-active">Home</a></li> 
				<li><a class="escalationButton" data-icon="custom">Escalation</a></li> 
				<li><a class="queuesButton" data-icon="custom">Queues</a></li>
			</ul> 
		</div> 
	</div>
</div>