<div data-role="page" id="home">
	<div data-role="header" data-theme="b" class="home_head">
		{{#user}}
		{{#attributes}}
		<h1>{{Name}}</h1>
		{{/attributes}}
		<img src="{{getSmallPhoto}}" class="ui-btn-left" title="Your profile picture." />
		{{#feedback}}
		<div data-role="navbar" class="chatter_stats">
			<ul>
				<li>{{yearAverage}} <small>Feedback<br />Fiscal Year</small></li>
				<li>{{quaterAverage}} <small>Feedback<br />This Quater</small></li>
				<li>{{teamAverage}} <small>Feedback<br />Team (FY)</small></li>
			</ul>
		</div>
		{{/feedback}}
		{{/user}}
	</div>

	<div data-role="content">	
		<div class="content-primary">
			<ul data-role="listview" data-split-icon="gear" data-split-theme="a">
				{{#assists}}
				
				<li id="{{id}}" data-theme="{{{dataTheme}}}" class="assist {{{strategic}}}">
					<a>
						{{#attributes}}
						<p class="aside"><strong>{{Name}}</strong></p>
						<h3>{{Subject__c}}</h3>
						<p><strong>{{Task_Category__c}}</strong></p>
						<p>{{Description_of_Work__c}}</p>
						{{/attributes}}
					</a>
					<a class="assistdialog">
						Assist Settings
					</a>
				</li>
				{{/assists}}
				{{^assists}}
				<li>
					<h3>{{noassiststitle}}</h3>
					<p><strong>{{noassistsstrong}}</strong></p>
					<p>{{noassistsdescription}}</p>
				</li>
				{{/assists}}
			</ul>
		</div>
	</div>
	
	<div data-role="footer" data-position="fixed" class="footer" data-theme="a"> 
		<div data-role="navbar" data-grid="c"> 
			<ul> 
				<li><a class="newButton" data-icon="custom">New</a></li> 
				<li><a class="homeButton" data-icon="custom" class="ui-btn-active">Home</a></li> 
				<li><a class="escalationButton" data-icon="custom">Escalation</a></li> 
				<li><a class="queuesButton" data-icon="custom">Queues</a></li>
			</ul> 
		</div> 
	</div>
</div>