<div data-role="page" data-theme="b" id="login">
	<div data-role="header" data-theme="b">
		<h1>{{ title }}</h1>
	</div>
	
	<div data-role="content">	
		<div class="content-primary">
			<form id="loginform">
				<ul data-role="listview" data-inset="true">
					<li data-role="fieldcontain">
						<label for="username">Username:</label>
						<input type="text" name="username" id="username" value="tstachl@salesforce.com" />
					</li>
					<li data-role="fieldcontain">
						<label for="password">Password:</label>
						<input type="password" name="password" id="password" value="$253e6745" />
					</li>
					<li class="ui-body ui-body-b"> 
						<fieldset class="ui-grid-a"> 
							<div class="ui-block-a"><button data-theme="d">Cancel</button></div> 
							<div class="ui-block-b"><button class="login_button" type="submit" data-theme="a">Login</button></div> 
					    </fieldset> 
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>