<div data-role="dialog" role="dialog" id="assistdialog">
	<div data-role="content" data-theme="c">
		<h3>New Assist</h3>
		<p>Your new assist will be created and activated if you don't click anything.</p>
		<div class="counter"><strong></strong></div>
		<a data-role="button" data-icon="gear" class="editButton">Edit</a>
		<a data-role="button" data-icon="star" data-theme="f" class="activateButton">Activate</a>
		<a data-role="button" data-icon="delete" data-theme="a" data-direction="reverse">Back</a>
	</div>
</div>